.idea
.git
*.pyc

dist/
build/
*.egg-info/

.tox/
.coverage

set_environment.sh

/results
/models
/data
/poetry.lock
/lightning_logs/
.env
/data/
/outputs/
/playground/

poetry.toml
.vscode
/.venv/
logs
tmp/
/tmp/

/analysis_data/
/analysis/lightning_logs/
/mtl_*/data*/
/mtl_*/lightning_logs/
/wandb/
