data
/extract/
/playground/

.idea

*.pyc

dist/
build/
*.egg-info/

.tox/
.coverage

set_environment.sh

/results
/models
/data
/poetry.lock
/lightning_logs/
.env
/data/
/outputs/

poetry.toml
.vscode
/.venv/
/notebooks/.ipynb_checkpoints/
/tmp/
